button{
    border-radius: 0.3rem;
    display: inline-block;
    margin: 5px; 
}

body{
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    transition: all 0.5s
}

img{
    width: 200px;
    height: 250px;
}

.tarjeta{
    width: 300px;
    background-color: white;
    border: 50rem;
    color: black;
    
    
}